
body {
    display: grid;
    grid-template-areas: 
        "headPane"
        "contPane"
        "footPane";
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr 30px;
    width: 90%;
    margin: auto;
    margin-top: 2px;
    gap: 4px;
    border: 2px red dashed;
}
div, span {
    box-sizing: border-box;
}
.headPane {
    grid-area: headPane;
    border: 1px blue solid;
}
.userPane {
    grid-area: "userPane";
    border: 11px blue solid;
}
.lognPane {
    width: 100%;
    border:4px solid yellow;
}
.lognPane label {
    width: 20%;
    display: inline-block;
    padding: 4px;
}
.contPane {
    grid-area: "contPane";
    border-top:3px cyan solid;
    border-bottom:3px cyan solid;
}
.footPane {
    grid-area: "footPane";
    border: 1px brown dashed;
}
.userPostTA  {
    border-top:2px magenta solid;
    border-bottom:2px magenta solid;
    width: 100%;
    display: block;
    text-align: right;
}
.userPostTA textarea {
    width:99%;
    text-align: left;
    resize:none;
}