
/* *************** */
/* general         */
/* *************** */
body {
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
    gap: 4px;
    border: 1px lightgray dashed;
}
button {
    background-color: rgb(50, 74, 82);
    border: 0;
    color: white;
    padding:4px;
    margin:4px;
    border-radius:4px;
}
div, span {
    box-sizing: border-box;
}
form {
    display:inline;
}

/* ************* */
/* userFeed      */
/* ************* */
span.postComment, div.post { 
    display:block;
    text-align:left;
    margin-left:10px;
    background-color: lightgray; 
}
.pTxt {
    display: inline-block;
    background-color: rgb(200, 183, 152);
    padding:4px;
}

/* **************************** */
/* headPane.htm                 */
/* **************************** */
.headPane {
    border: 1px rgb(50, 74, 82) solid;
    display: flex;
    justify-content: left;
    align-items: stretch; 
}
.headPane .item {
    border-radius:4px;
    background-color: rgb(50, 74, 82);
    padding: 12px;
    padding-bottom:0px;
    margin:  2px;
    text-align:center;
}

/* ******************** */
/* userEntry.htm        */
/* ******************** */
.view0 {
    border: 4px rgb(50, 74, 82) dashed;
    margin-top:2px;
    padding: 4px;
}
.view {
    border: 4px rgb(50, 74, 82) solid;
    margin-top:2px;
}
.view label {
    width: 20%;
    display: inline-block;
    padding: 4px;
}
.black, .viewButton {
    background-color: rgb(50, 74, 82);
    color: white;
    border: 0;
    padding:2px;
    border-bottom:2px white solid;
    border-top: 2px white solid;
}
.viewButton {
    width: 25%;
    border-bottom:2px green solid;
    border-top: 2px green solid;
    cursor: grab;
}
.viewButton.active {
    border-bottom:2px red solid;
    border-top: 2px red solid;
}
#lost, #signup {
    display:none;
}

/* ************************* */
/* userAccount.htm           */
/* ************************* */
.updateNow {
    border: 4px red dashed;
    margin: 4px;
    padding: 4px;
}
.uLabel {
    display: inline-block;
    width: 100px;
    padding: 2px; 
}
.friendBox img {
    width: 40px;
}
